body{
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #0891B2 0%, #FFF 10% 89%, #0891B2 100%)
}

header{
    display: flex;
    gap: .52rem;
}

img{
    max-inline-size: 100%;
    padding: .5rem;
}

p{
    color: #7A7877;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-family: "Playfair Display", comic-sans;
}

.about-img{
    display: flex;
    flex-direction: column;
    position: relative;
}

header img {
    width: 100%;
    height: 80%;
    object-fit: fill;
}


h1{
    color: white;
    position: absolute;
    top: 27rem;
    left: 1.5rem;
    font-size: 1.5rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px grey;
    border: none;
    padding: .5rem;
    background-color: white;
}

.about-icons{
    display: flex;
    /* margin: 0 5rem; */
    max-width: none !important;
    width: 100% !important;
    justify-content: flex-end;
}

main{
    margin: .25rem;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    padding-bottom: 3rem;
    margin: .25rem;
    box-shadow: 2px 2px 5px grey;
}

.card-header{
    display: flex;
    gap: 10rem;
    padding: 1rem;
}

.work-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 25px;
}

.description{
    max-width: 45ch;
    padding: 0 1rem;
    margin: 0;
}

footer{
    display: flex;
    color: #FFF;
}

footer p{
    color: #FFF;
    margin: 0;
}

footer img{
    max-width: 190px;
}

.footer-img{
    max-width: 19px;
}
.left-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-icons{
    display: flex;
}

.icons{
    max-width: 25px;
}

@media screen and (min-width: 641px){
    body{
        background: linear-gradient(to bottom, #0891B2 0%, #FFF 10% 72%, #0891B2 100%)
    }

    h1{
        top: 19rem;
        left: 2.25rem;
        font-size: 2.5rem;
    }

    .about-img {
        max-width: 300px;
    }

    header{
        margin: 1rem;
    }

    .about-me{
        padding: 1rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }

    h3{
        font-size: 1.5rem;
    }

    footer{
        margin: 3rem 1rem;
        gap: 2.5rem;
        font-size: 1.5rem;
    }

    footer img{
        max-width: 300px;
    }
}

@media screen and (min-width: 1024px){
    body{
        background: linear-gradient(to bottom, #0891B2 0%, #FFF 10% 68%, #0891B2 100%)
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .about-img {
        max-width: unset;
        align-items: flex-end;
    }

    .about-img img {
        max-width: 80%;
        max-height: 750px;
    }

    .about-me {
        max-width: 90%;  
        margin-top: 4rem;  
        font-size: 1.5rem;
        line-height: 3rem;
    }

    h1{
        top: 36rem;
        left: 18rem;
        font-size: 5.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .about-icons{
        gap: .5rem;
    }

    .icons{
        max-width: 50px;
    }
    .card-container{
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.25rem;
        gap: 2.75rem;
    }

    .card-header{
        gap: 15rem;
    }

    .work-links{
        gap: 1rem
    }

    footer{
        justify-content: space-evenly;
    }

    .left-col{
        gap: 3rem;
    }

    .footer-icons{
        gap: 4rem
    }

    .footer-img{
        max-width: 50px;
    }

    footer img{
        max-width: 450px;
    }

}