body{
    display: grid;
    grid-template-rows: repeat (3 1fr);
}

header{
    display: flex;
}

.about-img{
    display: flex;
    flex-direction: column;
}

.about-me{
    display: flex;
    flex-direction: column;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card{
    display: flex;
    border: 1px solid black;
}

.card-header{
    display: flex;
}

footer{
    display: flex;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
}