body{
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat (3 1fr);
}

header{
    display: flex;
}

img{
    max-inline-size: 100%;
    padding: .5rem;
    /* max-width: 200px; */
}

.about-img{
    display: flex;
    flex-direction: column;
}

.about-me{
    display: flex;
    flex-direction: column;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.card-header{
    display: flex;
}

footer{
    display: flex;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    max-width: 35px;
}

.project{
    max-width: 150px;
}