*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background: linear-gradient(to bottom, #0891B2 0%, #FFF 10% 89%, #0891B2 100%);
} */

header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: .52rem;
    background-color: #0891B2;
}

img{
    max-inline-size: 100%;
    padding: .5rem;
}

p{
    color: #7A7877;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-family: "Playfair Display", comic-sans;
}

.about-img{
    display: flex;
    flex-direction: column;
    position: relative;
}

h1{
    color: white;
    font-size: clamp(2rem, 7vw, 5rem);

    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px grey;
    border: none;
    padding: .5rem;
    background-color: white;
}

.about-me h2{
    font-size: clamp(2rem, 7vw, 5rem);
}

.about-icons{
    display: flex;
    justify-content: flex-end;
}

main{
    margin: .25rem;
}

main h2{
    font-size: clamp(2rem, 7vw, 3.5rem);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    box-shadow: 2px 2px 5px grey;
}

.card-header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.card-header h3 {
    margin: 0;
    min-width: 0;
}

.card-header img {
    display: block;
}

.work-links{
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
}

.description{
    max-width: 45ch;
    padding: 0 1rem;
    margin: 0;
}

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: .52rem;
    background-color: #0891B2;
    color: #FFF;
}

footer p{
    color: #FFF;
    margin: 0;
}

footer img{
    max-width: 80%;
    margin-left: auto;
}

.footer-img{
    max-width: 19px;
}
.left-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-icons{
    display: flex;
}

.icons{
    max-width: 50px;
}