body{
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat (3 1fr);
}

header{
    display: flex;
}

img{
    max-inline-size: 100%;
    padding: .5rem;
    /* max-width: 200px; */
}

.about-img{
    display: flex;
    flex-direction: column;
}

.about-me{
    display: flex;
    flex-direction: column;
}

main{
    margin: .25rem;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 95vw;
    padding-bottom: 3rem;
    margin: .25rem;
}

.card-header{
    display: flex;
    gap: 10rem;
    padding: 1rem;
}

.work-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 25px;
}

.description{
    max-width: 45ch;
    padding: 0 1rem;
    margin: 0;
}

footer{
    display: flex;
}

.left-col{
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    max-width: 35px;
}