body{
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat (3 1fr);

    background: linear-gradient(to bottom, #0891B2 0%, #FFF 10% 90%, #0891B2 100%)
}

header{
    display: flex;
}

img{
    max-inline-size: 100%;
    padding: .5rem;
    /* max-width: 200px; */
}

p{
    color: #7A7877;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    font-family: "Playfair Display", comic-sans;
}

.about-img{
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
    position: absolute;
    top: 13rem;
    left: 1rem;
    font-size: 1.75rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px grey;
    border: none;
    padding: .5rem;
}

.about-icons{
    display: flex;
    margin: 0 5rem;
}

main{
    margin: .25rem;
}

.card-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-width: 95vw;
    padding-bottom: 3rem;
    margin: .25rem;
}

.card-header{
    display: flex;
    gap: 10rem;
    padding: 1rem;
}

.work-links{
    display: flex;
    justify-content: space-evenly;
    max-width: 25px;
}

.description{
    max-width: 45ch;
    padding: 0 1rem;
    margin: 0;
}

footer{
    display: flex;
}

footer p{
    color: #000;
    margin: 0;
}

footer img{
    max-width: 190px;
}
.left-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icons{
    display: flex;
    max-width: 35px;
}